<div class="container">
  <div class="wrapper">
    <div>
      <h1><%= @pack.name %></h1>
      <h2><%= @pack.price %></h2>
    </div>
    <div>
      <h3>Detalhes do produto</h3>
      <div>
        <p><%= @pack.description %></p>
      </div>
    </div>
  </div>
</div>
